<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rotten Cucumber</title>

    <!-- Bootstrap CSS for styling -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/chat.css">

    <!-- Socket.io for real-time communication -->
    <script src="/socket.io/socket.io.js"></script>
    <script type="module" src="socket_io/socket_io.js"></script>

    <!-- Chat functionality script -->
    <script src="/javascripts/chat.js"></script>
</head>
<body onload="init()">

{{> navbar}}

<div class="flex-grow-1">
    <!-- Initial Form: Allows users to join a chat room -->
    <div id="initial_form" class="container d-flex mt-5 justify-content-center align-items-center">
        <form id="form" class="w-50 p-4 border rounded bg-light" onsubmit="return false;">
            <div class="form-group">
                <label for="name">Username</label>
                <input type="text" id="name" name="name" placeholder="Inserisci il tuo nome" class="form-control">
            </div>
            <div class="form-group">
                <label for="role">Ruolo</label>
                <input type="text" id="role" name="role" class="form-control" placeholder="Inserisci il tuo ruolo">
            </div>
            <div class="form-group">
                <label for="predefinedRoom">Stanza Preimpostata</label>
                <select id="predefinedRoom" class="form-select">
                    <option value="">Seleziona una stanza</option>
                    <option value="Film Italiani">Film Italiani</option>
                    <option value="Ultime Uscite">Ultime Uscite</option>
                    <option value="Premiazioni">Premiazioni</option>
                    <option value="Attori">Attori</option>
                    <option value="Generale">Generale</option>
                    <option value="Fun Facts">Fun Facts</option>
                </select>
            </div>
            <div class="form-group">
                <label for="roomName">Oppure crea o connettiti ad una stanza esistente</label>
                <input type="text" id="roomName" name="roomName" placeholder="Inserisci il nome della nuova stanza" class="form-control">
            </div>
            <button id="connect" onclick="connectToRoom()" class="btn btn-success btn-block mt-3">Connettiti alla Stanza</button>
        </form>
    </div>

    <!-- Chat Interface: Displays the chat once connected -->
    <div id="chat_interface" class="container mt-4" style="display: none">
        <div id="chat_container" class="card">
            <div class="card-header">
                <h1 class="card-title">Chat</h1>
            </div>
            <div class="card-body">
                <div class="mb-3">
                    <span id="who_you_are"></span>, you are chatting in room: <span id="in_room"></span>
                </div>

                <!-- Chat History: Displays sent and received messages -->
                <div id="chat_history" class="border p-3 mb-3" style="height: 300px; overflow-y: scroll;"></div>

                <!-- Chat Input Box: Allows users to send messages -->
                <div id="chat_box">
                    <form onsubmit="return false;" class="d-flex">
                        <input type="text" id="chat_input" name="chat_input" class="form-control me-2" placeholder="Inserisci il tuo messaggio">
                        <button id="chat_send" class="btn btn-success btn-block mt-3" onclick="sendChatText()">Invia</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{{> footer}}
</body>
</html>