/* Stile personalizzato */
nav.navbar {
    background-color: #343a40; /* Grigio più scuro */
}

nav.navbar .nav-link {
    font-size: 1.2rem; /* Testo più grande */
    text-align: center;
    flex: 1; /* Distribuzione uniforme */
}

#movieCarousel .carousel-inner img {
    height: auto; /* Adjust height to auto to maintain aspect ratio */
    width: 100%; /* Mantieni le immagini responsive */
    object-fit: contain; /* Ensure the entire image is visible */
}

#movieCarousel {
    max-width: 200px; /* Further reduce the maximum width */
    margin: 0 auto; /* Centra il carousel */
    padding: 10px 0; /* Riduci lo spazio verticale attorno */
}

.hidden {
    display: none;
}

/* per essere sicuri che il footer sia sempre a fondo pagina*/
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body > footer {
    margin-top: auto;
}

footer {
    margin-top: auto; /* Spinge il footer verso il basso */
}