/* Stile personalizzato */
nav.navbar {
    background-color: #343a40; /* Grigio più scuro */
}

nav.navbar .nav-link {
    font-size: 1.2rem; /* Testo più grande */
    text-align: center;
    flex: 1; /* Distribuzione uniforme */
}

#movieCarousel .carousel-inner img {
    height: auto; /* Lascia che Bootstrap gestisca l'altezza in modo responsivo */
    object-fit: cover; /* Mantieni il ritaglio proporzionato */
}
